/* start variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

/* end variables */

/* start global rules */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
}

/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width:1200px) {
    .container {
        width: 1117px;
    }
}

/* end global rules */
.Header .container {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header .logo {
    width: 60px;
}


.links {
    position: relative;
}

.Icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.Icon span {
    margin-top: 5px;
    background-color: black;
}


.Icon span:first-child {
    width: 100%;
    height: 3px;
}

.Icon span:nth-child(2) {
    width: 60%;
    height: 3px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.Icon span:last-child {
    width: 100%;
    height: 3px;
}

.Header .links ul {
    position: absolute;
    list-style: none;
    top: calc(100% + 5px);
    right: 0%;
    background-color: #f6f6f6;
    min-width: 200px;
    padding: 0px;
    display: none;
    z-index: 1;
}

ul::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 10px solid #eee;
    position: absolute;
    top: -20px;
    left: 90%;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}


.Header .links ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.Header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.Header .links:hover .Icon span:nth-child(2) {
    width: 100%;
}

.links:hover ul {
    display: block;
}

.links ul li a:hover {
    padding-left: 35px;
}

.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 55px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
    text-align: center;

}

.landing .intro-text h1 {
    color: var(--main-color);
    font-weight: bold;
    margin: 0px;
    font-size: 50px;
}

.landing .intro-text p {
    font-size: 20px;
    line-height: 1.8;
}

/* start features */
.feature {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}


.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.feature .feat {
    padding: 20px;
    text-align: center;
}

.feature .feat i {
    color: var(--maincolor);
    font-weight: 800px;
    margin: 30px 0;
}

.feature .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* end features */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    text-align: center;
    color: #797979;
}

@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }

    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

.services .services-content .srv i {
    color: var(--maincolor);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv h3 {
    margin: 0 0 20px;
}

.services .services-content .srv p {
    line-height: 1.6;
    font-size: 17px;
    color: #777;
    font-weight: 300px;
}

.services .services-content .image {
    position: relative;
    text-align: center;
}

.services .services-content .image img {
    width: 260px;
}

.services .services-content .image::before {
    content: "";
    background-color: var(--secondcolor);
    height: calc(100% + 100px);
    width: 80px;
    position: absolute;
    top: -50px;
    right: 0%;
    z-index: -1;

}

@media (max-width:1199px) {
    .image-column {
        display: none;
    }
}

/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

/* End Portfolio */

/* start about */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;
}

.about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:991px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-content .image::before,
    .about-content .image::after {
        display: none;
    }

    .about-content .image {
        margin: 0 auto 80px;
    }
}

.about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
    z-index: 1;
}

.about-content .image::before {
    content: "";
    width: 100px;
    height: calc(100% + 88px);
    background-color: rgb(235, 236, 237);
    position: absolute;
    top: -40px;
    left: -20px;
    z-index: -1;

}

.about-content .image::after {
    content: "";
    position: absolute;
    top: -40px;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}

.about-content .image img {
    max-width: 100%;
}

.about-content .text {
    flex-basis: calc(100% - 500px);
}

.about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about-content .text hr {
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}

.about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* end about */
/* start contact */
.contact {
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    margin-top: 80px;
}

.info .label {
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 35px;
    letter-spacing: -2;
    margin-bottom: 15pxpx;
}

.info .link {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 800;
    font-size: 35px;
}

@media (max-width:767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}

.info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

/* end contact */
/* start footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 30px 10px;
}

span {
    color: var(--main-color);
    font-weight: bold;
}

/* end footer */